body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: "Quicksand", sans-serif;
}

.container {
    text-align: center;
}

button {
    padding: 20px 40px;
    font-size: 18px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7d7d7d;
}
